/*Estilos gerais para melhor vizualização*/

body {
    font-family: sans-serif;
    line-height: 1.6;
    margin:0;
    padding:0;
    background-color: #f4f4f4;
    color: #333;
}

header, footer {
    background-color: #f4f4;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1, footer p {
    margin: 0;
}