body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.destaque{
    background-color: #ffffcc;
    font-weight: bold;
}
.removida{
    text-decoration: line-through;
    color: gray;
}